* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #121212;
    font-family: Poppins;
    height: 100vh;
    width: 80vw;
    margin: auto;
    border: white 20px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #Container {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 2rem;
    margin-top: 15rem;
    border-radius: 0.5rem;
  }
  #Header {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0095;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 18rem;
  
    border-radius: 0.2rem;
  }
  h1 {
    font-size: 32px;
  }
  #Parag {
    margin-top: 2rem;
    font-size: 14px;
    width: 19rem;
    line-height: 1.5;
    align-items: center;
    font-weight: 400;
  }
  @media screen and (max-width: 768px) {
    body {
      width: 100%;
      height: 500px;
      background-color: #121212;
      font-family: Poppins;
      border: white 5px solid;
    }
    #Container {
      margin: 10px;
      padding: 0.5rem;
      margin-top: 7rem;
      align-items: center;
    }
  
    #Header {
      height: 3rem;
      width: 16rem;
      padding: 0.5rem;
      border-radius: 0.2rem;
      font-size: 16px;
    }
  
    #Parag {
      font-size: 13px;
      padding: 10px;
    }
    h1 {
      font-size: 24px;
    }
  }
  